.home {
  max-width: 1450px;
  height: 100%;
  // background-color: #f3f3f3;
  background-color: #121212;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.btn__wrapper {
  margin-top: 2.4rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;

  button {
    padding: 1rem 3rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #ffffff;
    background-color: #323232;
    user-select: none;

    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #ffffff;
    margin: 0 1rem;
  }
}
